*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus{
	text-decoration:none;
	display:inline-block;
}

ul{
	list-style:none;
	display:inline-block;
}

.aligncenter{
	text-align:center;
}

.container{
	width:1120px;
	margin:0 auto;
}

.row,
.row:after,
.row:before{
	clear:both;
	display:table;
	width:100%;
}

[class^="col-"]{
	float:left;
	padding:0 15px;
}

.col-4{
	width:calc(100% * 4 / 12);
}

.col-6{
	width:calc(100% * 6 / 12);
}

.col-7{
	width:calc(100% * 7 / 12);
}

.col-8{
	width:calc(100% * 8 / 12);
}

.col-12{
	width:calc(100% * 12 / 12);
}

.offset-2{
	margin-left:calc(100% * 2 / 12);
}